.input {
  box-sizing: border-box;
  width: 100%;

  background-position: 10px 8px;
  background-repeat: no-repeat;
  background-color: #fafafa;

  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: url(../../../assets/send.svg) no-repeat scroll;
  background-size: 25px;
  background-position: 94% 8px;
}
